---
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/700.css";
import "@fontsource/dm-mono/400.css";
import "~/styles/base.css";

const { title } = Astro.props;
---

<html lang="en" class="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title} ~ Jcbdkc</title>
        <script is:inline>
            const root = document.documentElement;
            const media = window.matchMedia("(prefers-color-scheme: dark)");
            const applyPreference = (event) => {
                if (event.matches) {
                    root.classList.add("dark");
                } else {
                    root.classList.remove("dark");
                }
            };
            applyPreference(media);
            media.addEventListener("change", applyPreference);
        </script>
    </head>
    <body
        class="bg-bg text-text flex items-start justify-start overflow-x-hidden p-8"
    >
        <slot />
    </body>
</html>
